body{
    margin: 0px;
    color: white;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}
/* .navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color:hsl(0, 0%, 10%)
} */
p{
    font-size: 20px;
}
li{
    font-size: 20px;
    margin-top: 30px;
}
h4{
    text-align: right
}
h3{
    text-align: center;
}
h5{
    font-size: 30px;
}
.Usage{
    font-size: 13px;
}
.background {
    width: 100%;
    min-height: 100vh;
    background-image: url(images/2018-dodge-challenger-srt-demon.webp);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: scroll;
}
.borders{
    border: 3px white solid;
    margin: 8px;
}
p{
    border: 3px white solid;
    margin: 8px;
}
.white{
    color: white;
}
*{
    padding: 0;
    margin: 0;
    font-family: monospace;
}
ul{
    list-style: none;
    background: none;
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size:20px;
}
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 100%;
    background:darkRed;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background: none;
}
ul li:hover ul.dropdown{
    display: block;
}
.section1, .section2{
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.section2{
}

